* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --text: #4c4f69;
  --subtext1: #5c5f77;
  --subtext0: #6c6f85;
  --overlay2: #7c7f93;
  --overlay1: #8c8fa1;
  --overlay0: #9ca0b0;
  --surface2: #acb0be;
  --surface1: #bcc0cc;
  --surface0: #ccd0da;
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: var(--base);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background: var(--surface2);
  border-radius: 9999px;
}

html {
  background-color: var(--crust);
  color: var(--text);
}

.container {
  margin: 20px;
  padding: 10px;
  border: 1.5px solid var(--surface1);
  border-radius: 0.75rem;
  background-color: var(--mantle);
}

.container ul {
  list-style-type: none;
  padding: 0;
}

.container ul li {
  margin: 5px 0;
}

.tabs {
  display: flex;
  padding: 0 20px;
}

.tab {
  color: var(--text);
  font-weight: 600;
  cursor: pointer;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.tab.active {
  background: var(--surface0);
  border-radius: 0.75rem;
  font-weight: 600;
}

.content {
  padding: 20px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.metric-overview {
  display: flex;
  gap: 40px;
}

.metric-stat {
  flex: 1;
}

.metric-value {
  font-size: 48px;
  font-weight: 600;
  color: #333;
}

.metric-label {
  margin-top: 8px;
  color: var(--text);
  font-weight: 600;
  font-size: 14px;
}

.metric-details {
  margin-top: 4px;
  color: var(--subtext1);
  font-size: 14px;
}

.core-usages {
  margin-top: 10px;
  padding: 8px;
  border: 1px solid var(--surface1);
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
}

.cpu-core-item {
  padding: 8px;
  display: flex;
  align-items: center;
}

.processes {
  color: var(--text);
  margin-top: 24px;
}

.process-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.filter-button {
  cursor: pointer;
  padding: 8px 8px;
  color: var(--text);
  font-weight: 400;
  border-radius: 0.75rem;
  border: 1px solid var(--surface1);
}

.filter-button:hover {
  background: var(--surface0);
  border-radius: 0.75rem;
}

.filter-button.active {
  background: var(--surface0);
  border-radius: 0.75rem;
}

.process-list {
  max-height: 522px;
  overflow-y: scroll;
}

.process-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border: 1px solid var(--surface1);
  list-style: none;
  margin: 4px 8px 0 0;
  background-color: var(--base);
  border: 1px solid var(--surface1);
  border-radius: 8px;
  cursor: pointer;
}

.process {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.process-info {
  display: flex;
}

.process-pid {
  color: var(--subtext1);
  font-weight: bold;
}

.process-name {
  color: var(--text);
  margin-left: 8px;
  font-weight: normal;
}

.process-usage {
  color: var(--subtext0);
  font-weight: normal;
}

.process-item:hover {
  background-color: var(--surface0);
  border: 1.5px solid var(--surface1);
}

.hide {
  display: none;
}
